<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        Ajouter Championnat:
                        &nbsp;&nbsp;&nbsp;
                        <button
                            pButton
                            pRipple
                            label="New"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="addChampDialog()"
                        ></button>
                        Exporter CSV:
                        &nbsp;&nbsp;&nbsp;
                        <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file"
                            (click)="todotable.exportCSV()"
                            class="mr-2"
                            pTooltip="CSV"
                            tooltipPosition="bottom"
                        ></button>
                        Exporter Excel:
                        &nbsp;&nbsp;&nbsp;
                        <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file-excel"
                            (click)="exportExcel()"
                            class="p-button-success mr-2"
                            pTooltip="XLS"
                            tooltipPosition="bottom"
                        ></button>
                        Exporter PDF:
                        &nbsp;&nbsp;&nbsp;
                        <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-file-pdf"
                            (click)="downloadPDF()"
                            class="p-button-warning mr-2"
                            pTooltip="PDF"
                            tooltipPosition="bottom"
                        ></button>
                        <div class="statis" style="width: 20rem">
                            <p-chart
                                type="pie"
                                [data]="data"
                                [options]="chartOptions"
                            ></p-chart>
                        </div>
                      
                    </div>
                </ng-template>

                <ng-template pTemplate="right"> </ng-template>
            </p-toolbar>
           
            <p-table
                #todotable
                [value]="championnats"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="[
                    'nom',
                    'typeChampionnat',
                    'equipe',
                    'terrain',
                    'arbitre',
                    'score'
                ]"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Gestion Championnats</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                #globalSearch
                                pInputText
                                type="text"
                                (input)="
                                    todotable.filterGlobal(
                                        globalSearch.value,
                                        'contains'
                                    )
                                "
                                placeholder="Search keyword"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nom">
                            Nom <p-sortIcon field="nom"></p-sortIcon>
                        </th>
                        <th pSortableColumn="typeChampionnat">
                            TYPES
                            <p-sortIcon field="typeChampionnat"></p-sortIcon>
                        </th>
                        <th pSortableColumn="equipe">
                            EQUIPES <p-sortIcon field="equipe"></p-sortIcon>
                        </th>
                        <th pSortableColumn="terrain">
                            TERRAINS <p-sortIcon field="terrain"></p-sortIcon>
                        </th>
                        <th pSortableColumn="arbitre">
                            ARBITRES <p-sortIcon field="arbitre"></p-sortIcon>
                        </th>
                        <th pSortableColumn="score" style="text-align: center">
                            MEUILLEURS SCORE
                            <p-sortIcon field="score"></p-sortIcon>
                        </th>

                        <th>ACTIONS</th>
                    </tr>
                    <tr>
                        <th>
                          
                            <input
                            
                                #globalSearchname
                                pInputText
                                type="text"
                                (input)="
                                    todotable.filter(
                                        globalSearchname.value,
                                        'nom',
                                        'startsWith'
                                    )
                                "
                                placeholder="Filtrer avec nom"
                            />
                        </th>

                        <th>
                            <input
                                #globalSearchtype
                                pInputText
                                type="text"
                                (input)="
                                    todotable.filter(
                                        globalSearchtype.value,
                                        'typeChampionnat',
                                        'startsWith'
                                    )
                                "
                                placeholder="Filtrer avec type"
                            />
                        </th>

                        <th>
                            <input
                                #globalSearchequipe
                                pInputText
                                type="text"
                                (input)="
                                    todotable.filter(
                                        globalSearchequipe.value,
                                        'equipe',
                                        'startsWith'
                                    )
                                "
                                placeholder="Filtrer avec equipe"
                            />
                        </th>
                        <th>
                            <input
                                pInputText
                                type="text"
                                (input)="
                                    todotable.filter(
                                        $event.target,
                                        'terrain',
                                        'startsWith'
                                    )
                                "
                                placeholder="Filtrer avec terrain"
                            />
                        </th>
                        <th>
                            <input
                                pInputText
                                type="text"
                                (input)="
                                    todotable.filter(
                                        todotable.value,
                                        'arbitre',
                                        'startsWith'
                                    )
                                "
                                placeholder="Search with Arbitre"
                            />
                        </th>

                        <th style="text-align: center">
                            <input
                                #globalSearchscore
                                pInputText
                                type="text"
                                (input)="
                                    todotable.filter(
                                        globalSearchscore.value,
                                        'score',
                                        'startsWith'
                                    )
                                "
                                placeholder="Filtrer avec meilleur"
                            />
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-championnat>
                    <tr>
                        <td>{{ championnat.nom }}</td>
                        <td>{{ championnat.typeChampionnat }}</td>
                        <td>{{ championnat.equipe }}</td>
                        <td>{{ championnat.terrain }}</td>
                        <td>{{ championnat.arbitre }}</td>
                        <td style="text-align: center">
                            {{ championnat.score }}
                        </td>
                        <td>
                            <div class="flex">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="updateChampDialog(championnat)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteChamp(championnat)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="updateDialog"
            [style]="{ width: '1000px' , height:'1000px' }"
            header="Gestion de championnat"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <!-- Nom championnat -->
                <div class="field">
                    <label for="name">Nom</label>
                    <input
                        type="text"
                        pInputText
                        id="nomChamp"
                        [(ngModel)]="championnat.nom"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !championnat.nom
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !championnat.nom"
                    >
                        Champ obligatoire.
                    </small>
                </div>
                <!-- Type championnat -->
                <!-- <div class="field">
                    <label for="typeChamp">Type</label>
                    <select
                        id="typeChamp"
                        [(ngModel)]="championnat.typeChampionnat"
                        required
                        autofocus
                    >
                        <option value="Amateur">Amateur</option>
                        <option value="professionel">professionel</option>
                    </select>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !championnat.typeChampionnat"
                    >
                        Champ obligatoire.
                    </small>
                </div> -->
                <div class="field">
                    <label for="typeChamp">Type Championnat</label>
                    <p-multiSelect
                        [options]="type"
                        [(ngModel)]="championnat.typeChampionnat"
                        optionLabel="label"
                        placeholder="selectionner type"
                        display="chip"
                       optionValue="value"
                    ></p-multiSelect>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !championnat.typeChampionnat"
                    >
                        Champ obligatoire.
                    </small>
                </div>
                <!-- Equipes championnat -->
                <!-- <div class="field">
                    <label for="equipChamp">Equipes</label>
                    <select
                        id="equipChamp"
                        [(ngModel)]="championnat.equipe"
                        required
                        autofocus
                    >
                        <option value="Poule1">Poule1</option>
                        <option value="Poule2">Poule2</option>
                        <option value="Poule3">Poule3</option>
                        <option value="Poule4">Poule4</option>
                    </select>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !championnat.equipe"
                    >
                        Champ obligatoire.
                    </small>
                </div> -->
                <div class="field">
                    <label for="equipChamp">equipe</label>
                    <p-multiSelect
                        [options]="poule"
                        [(ngModel)]="championnat.equipe"
                        optionLabel="label"
                        placeholder="selectionner equipe"
                        display="chip"
                       optionValue="value"
                       
                    ></p-multiSelect>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !championnat.equipe"
                    >
                        Champ obligatoire.
                    </small>
                </div>
                <!-- Terrain championnat -->
                <div class="field">
                    <label for="terrChamp">Terrains</label>
                    <p-multiSelect
                        [options]="terrians"
                        [(ngModel)]="championnat.terrain"
                        optionLabel="label"
                        placeholder="selectionner terrain"
                        display="chip"
                       optionValue="value"
                       
                    ></p-multiSelect>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !championnat.terrain"
                    >
                        Champ obligatoire.
                    </small>
                </div>
                <!-- <div class="field">
                    <label for="terrChamp">Terrain</label>
                    <select
                        id="terrChamp"
                        [(ngModel)]="championnat.terrain"
                        required
                        autofocus
                    >
                        <option value="Terrain1">Terrain1</option>
                        <option value="Terrain2">Terrain2</option>
                        <option value="Terrain3">Terrain3</option>
                        <option value="Terrain4">Terrain4</option>
                    </select>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !championnat.terrain"
                    >
                        Champ obligatoire.
                    </small>
                </div> -->
                <!-- Arbitre championnat -->
                <div class="field">
                    <label for="arbitre">Arbitre</label>
                    <p-multiSelect
                        [options]="userlist"
                        [(ngModel)]="championnat.arbitre"
                        optionLabel="nom"
                        placeholder="select Arbitre"
                        display="chip"
                        optionValue="nom"
                        (onChange)="log()"
                    ></p-multiSelect>
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !championnat.arbitre"
                    >
                        Champ obligatoire.
                    </small>
                </div>
                <!-- Score championnat -->
                <div class="field">
                    <label for="scorChamp">Score</label>
                    <input
                        type="text"
                        pInputText
                        id="scorChamp"
                        [(ngModel)]="championnat.score"
                        required
                        autofocus
                        [ngClass]="{
                            'ng-invalid ng-dirty':
                                submitted && !championnat.score
                        }"
                    />
                    <small
                        class="ng-dirty ng-invalid"
                        *ngIf="submitted && !championnat.score"
                    >
                        Champ obligatoire.
                    </small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Annuler"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="updateDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Confirmer"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="updateChamp()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
    </div>
</div>
